<nav>
    <a href="/home-user" class="crop-logo">
        <img src="/images/tempotalk_logo_white.png" alt="tempotalk logo" id="logo">
    </a>
    <div id="nav-right">
        <a href="/home-user/<%= userInfo.username %>"><strong><%= userInfo.username %></strong></a>
        <a href="/settings/<%= userInfo.id %>"><strong>Settings</strong></a>
        <a href="/admin"><strong>Admin</strong></a>
        <a href="/" class="nav-right">Log Out</a>
    </div>
</nav>