<nav>
    <a href="/" class="crop-logo">
        <img src="/images/tempotalk_logo_white.png" alt="tempotalk logo" id="logo">
    </a>
    <div id="nav-right">
        <a href="/login" class="nav-right">Log In</a>
        <a href="/create-account" class="nav-right">Create Account</a>
        <a href="/admin" class="nav-right">Admin</a>
    </div>
</nav>