<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Summary</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/summary.css">
</head>
<body>
    <nav>
        <a href="/home-user" class="crop-logo">
            <img src="/images/tempotalk_logo_white.png" alt="tempotalk logo" id="logo">
        </a>
        <div id="nav-right">
            <a href="/home-user"><strong><%= account.username %></strong></a>
            <a href="/settings"><strong>Settings</strong></a>
        </div>
    </nav>
    <div>
        <h1>Welcome in, here's your account information</h1>
        <h2>Username: <%= account.username %></h2>
        <h2>Password: <%= account.password %></h2>
        <h2>Email: <%= account.email %></h2>
        <a href="/home-user">Confirm</a>
    </div>
</body>
</html>