<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h1>TempoTalk</h1>
    <form id="account-creation" action="/create-account">
        <h2>Create an Account</h2>
        <br>
        <label for="username">Username
            <span class="err" id="err-username">
                username is required
            </span>
        </label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password
            <span class="err" id="err-password">
                password is required
            </span>
        </label>
        <input type="text" id="password" name="password">
        <br>
        <label for="confirm">Confirm Password
            <span class="err" id="err-confirm">
                password is not the same
            </span>
        </label>
        <input type="text" id="confirm" name="confirm">
        <br>
        <label for="email">Email
            <span class="err" id="err-email">
                email is required
            </span>
        </label>
        <input type="text" id="email" name="email">
        <br>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>