<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <div class="crop-logo">
    <img src="/images/tempotalk_logo.png" alt="tempotalk logo" id="logo">

    </div>

    <h1>Account Created!</h1>
    <p>Welcome to the club, <strong><%= name %></strong>.</p>
    <a href="/">Return Home</a>
</body>
</html>