<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/create-post.css">
    <link rel="icon" type="image/png" href="/images/tempotalk_logo_white.png">

</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-new')%>
    
    <div class="layout-container">
        <div class="column" id="column-left">

        </div>

        <div class="column" id="column-middle">
            <form id="create-post" action="#">
                <label for="title">Title:</label>
                <input type="text" placeholder="Title...">
                <br>

                <label for="tag">Tag:</label>
                <select>
                    <option value="none">Select a Tag</option>
                    <option value="music-sharing">Music Sharing</option>
                    <option value="my-music">My Music</option>
                    <option value="discussion">Discussion</option>
                </select>
                <br>

                <label for="body-text">Body Text:</label>
                <textarea id="body-text" rows="8" placeholder="Body Text..."></textarea>
                <br>

                <!-- Will make this link potentially pull from an API for a music player -->
                <label for="link">Music Link:</label>
                <input type="text">
                <br>

                <button type="submit">Create Post</button>
            </form>
        </div>

        <div class="column" id="column-right">
        </div>
    </div>
</body>
</html>