<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/post-create.css">
    <link rel="icon" type="image/png" href="/images/tempotalk_logo_white.png">

    <!-- Scripts -->
    <script src="/js/create-post.js" defer></script>
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-user', { userInfo: userInfo }) %>
    
    <div class="layout-container">
        <div class="column" id="column-left">
            <a href="/home-user/<%= userInfo.username %>">< Back</a>
        </div>

        <div class="column" id="column-middle">
            <form id="create-post-form" action="/in-post" method="POST">
                <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <p><%= error %></p>
                    <% }); %>
                <% } %>
                
                <label for="title">Title:
                    <span class="err" id="err-title">
                        *title is required*
                    </span>
                </label>
                <input type="text" id="title" name="title" placeholder="Title...">
                <br>
                <label for="body-text">Body Text:
                    <span class="err" id="err-body">
                        *body text is required*
                    </span>
                </label>
                <textarea id="body-text" name="bodyText" rows="8" placeholder="Body Text..."></textarea>
                <br>
                <!-- Will make this link potentially pull from an API for a music player -->
                <label for="link">Music Link:</label>
                <input type="text" id="link" name="link">
                <br>
                <button type="submit">Create Post</button>
            </form>
        </div>

        <div class="column" id="column-right">
        </div>
    </div>
</body>
</html>