<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="icon" type="image/png" href="/images/tempotalk_logo_white.png">

    <!-- Scripts -->
</head>
<body>
    
</body>
</html>