<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>
    <!-- styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <div class="layout-container">
        <div class="column">
            <!-- logo -->
            <div class="crop-logo">
                <a href="/">
                    <img src="/images/tempotalk_logo.png" alt="tempotalk logo" id="logo">
                </a>
            </div>
        </div>

        <div class="column">
            <!-- content -->
            <h1>Welcome to TempoTalk</h1>
        </div>

        <div class="column">
            <div>
                <a href="/create-account">Log In</a>
                <a href="/create-account">/ Create Account</a>
                <a href="/settings">/ Account Settings</a>
            </div>
        </div>

        
    </div>
</body>
</html>