<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/png" href="/images/tempotalk_logo_white.png">

</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-user', { userInfo: userInfo }) %>
    
    <div class="layout-container">
        <div class="column" id="column-left">
            <a id="create-post" href="/create-post">Create Post +</a>
        </div>

        <div class="column" id="column-middle">
            <h1>Welcome to TempoTalk!</h1>
            <p>Where fellow music artists can share anything music-related in blog posts</p>
            <!-- <h1>Have fun!</h1> -->
            <!-- <p>Content</p> -->
        </div>

        <div class="column" id="column-right">
        </div>
    </div>
</body>
</html>