<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">

    
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="/" class="crop-logo">
            <img src="/images/tempotalk_logo.png" alt="tempotalk logo" id="logo">
        </a>
        <div id="nav-right">
            <a href="/login" class="nav-right">Log In</a>
            <a href="/create-account" class="nav-right">/Create Account</a>
        </div>
    </nav>

    <div class="layout-container">
        <div class="column" id="column-left">

        </div>

        <div class="column" id="column-middle">
            <!-- content -->
            <h1>Welcome to TempoTalk</h1>
        </div>

        <div class="column" id="column-right">
            <div>

            </div>
        </div>
    </div>
</body>
</html>