<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <div class="layout-container">
        <div class="column" id="column-left">
            <!-- logo -->
            <div class="crop-logo">
                <a action="/" method="POST" href="/user-home">
                    <img src="/images/tempotalk_logo.png" alt="tempotalk logo" id="logo">
                </a>
            </div>
        </div>

        <div class="column" id="column-middle">
            <!-- content -->
            <p>Content</p>
        </div>

        <div class="column" id="column-right">
            <div>
                <ul>
                    <li><a href="/settings"><strong><%= name %></strong></a></li>
                    <li><a href="/settings">Account Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>