<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">

    
</head>
<body>
    <nav>
        <p>stuff</p>
    </nav>
    <div class="layout-container">
        <div class="column" id="column-left">
            <!-- logo -->
            <div class="crop-logo">
                <a href="/">
                    <img src="/images/tempotalk_logo.png" alt="tempotalk logo" id="logo">
                </a>
            </div>
        </div>

        <div class="column" id="column-middle">
            <!-- content -->
            <h1>Welcome to TempoTalk</h1>
        </div>

        <div class="column" id="column-right">
            <div>
                <div>
                    <a href="/login">Log In</a>
                    <a href="/create-account">/ Create Account</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>