<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="/" class="crop-logo">
            <img src="/images/tempotalk_logo.png" alt="tempotalk logo" id="logo">
        </a>
        <div id="nav-right">
            <a href="/settings"><strong><%= userInfo.username %></strong></a>
        </div>
    </nav>
    
    <div class="layout-container">
        <div class="column" id="column-left">

        </div>

        <div class="column" id="column-middle">
            <p>Content</p>
        </div>

        <div class="column" id="column-right">
            <a href="/settings">Account Settings</a>
            <a href="/" class="bottom-right">Log Out</a>
        </div>
    </div>
</body>
</html>