<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>
    <!-- styles -->
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <!-- logo -->
    <div class="crop-logo">
        <a href="/">
            <img src="/images/tempotalk_logo.png" alt="tempotalk logo" id="logo">
        </a>
    </div>
    
    <!-- content -->
    <h1>Welcome to TempoTalk</h1>
    <a href="/create-account">
        <button>Create account</button>
    </a>
</body>
</html>