<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/general.css">

    <!-- Scripts -->
    <script src="js/login.js" defer></script>
    
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="/" class="crop-logo">
            <img src="/images/tempotalk_logo_white.png" alt="tempotalk logo" id="logo">
        </a>
    </nav>

    <!-- content -->
    <form id="account-creation" action="/home-user" method="POST">
        <h2>Log in to your account</h2>
        <br>
        <label for="username">Username:
            <span class="err" id="err-username">
                *username is required*
            </span>
        </label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:
            <span class="err" id="err-password">
                *password is required*
            </span>
        </label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Log In</button>
        <br>
        <a href="/create-account">Don't have an account? Click here</a>
    </form>
</body>
</html>