<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/png" href="/images/tempotalk_logo_white.png">

</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-new') %>

    <!-- NOTE: MAKE NAV IF STATEMENT FOR NAV BAR > if(user) then nav-user, else nav-new -->

    <div class="layout-container">
        <div class="column" id="column-left">

        </div>

        <div class="column" id="column-middle">
            <!-- content -->
            <h1>This is for clicking on a post</h1>

        </div>

        <div class="column" id="column-right">
            <div>

            </div>
        </div>
    </div>
</body>
</html>