* {
    margin:0;
    box-sizing: border-box;
}

body {
    background: #545454;
    font-family:Arial, Helvetica, sans-serif;
}

/* logo styles */
.crop-logo{
    width:250px;
    height: 100px;
    overflow:hidden;
}

.crop-logo #logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}