nav{
    display: flex;
    justify-content: start;
}

li{
    list-style: none;
}

/* column styles */
#column-left{
    background-color: #c1c1c1;
    display: flex;
    justify-content: baseline;
}

#column-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#column-right{
    background-color: #c1c1c1;
    display: flex;
    justify-content: end;
    padding:2rem;
}