.main-info{
    padding:1rem;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#account-confirm{
    font-weight: bold;
    border-radius: .5rem;
    color:black;
    background-color: #ffbd59;
    width:25%;
    display: flex;
    justify-content: center;
}

#account-confirm:hover{
    color:grey;
}